#playlists-wrapper{
    display: flex;
    height: calc(100vh - 6rem);
    width: 100%;
    justify-content: center;
    align-items: center;
}

#playlist-module{
    width: calc(20vw - 2rem);
    min-width: calc(20vw - 2rem);
    outline: 1px solid #b3b3b3b8;
    border-radius: 2rem;
    height: calc(80vh - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 1rem;
    text-align: center;
}

#playlist-module *{
    color: #535353 !important;
}

#playlists{
    display: flex;
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
    text-wrap: wrap;
    color: #1db954 !important;
}

#button-row{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

#button-row button{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.35rem;
    border: none;
    border-radius: 100%;
    color: black !important;
    font-weight: bold;
    background-color: #535353;
    padding: 0.5rem;
    transition: all 0.15s ease-in-out;
}

#button-row button:hover{
    background-color: #1db954;
}

#button-row button:nth-child(2){
    border-radius: 2rem;
    padding: 0px 2rem;
    font-size: medium;
}

select {
    text-align: center;
    background-color: transparent;
    font-size: large;
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
}

option {
    font-size: small;
    background-color: black;
}

#playlist-module p{
    font-size: small !important;
}

@media (orientation :portrait) {
    #playlist-module{
        width: 80%;
    }
}

@media screen and (width: 1024px) {
    #playlist-module {
        width: calc(30vw - 2rem);
    }
}

@media screen and (width: 768px) {
    #playlist-module {
        width: calc(35vw - 2rem);
    }
}

