absl-py==2.1.0
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
altair==5.2.0
altgraph==0.17.4
annotated-types==0.6.0
anyio==3.7.1
arrr==1.0.4
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
audioread==3.0.1
auto-py-to-exe==2.42.0
backoff==1.11.1
beautifulsoup4==4.12.3
bidict==0.22.1
blinker==1.7.0
blis==0.7.11
boto3==1.34.37
botocore==1.34.37
bottle==0.12.25
bottle-websocket==0.2.9
breadability==0.1.20
Brotli==1.1.0
cachetools==5.3.2
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.1
commonmark==0.9.1
confection==0.1.4
contourpy==1.2.0
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.4
debugpy==1.8.1
decorator==5.1.1
distlib==0.3.8
distro==1.9.0
dm-tree==0.1.8
docopt==0.6.2
downloader-cli==0.3.4
Eel==0.16.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
et-xmlfile==1.1.0
executing==2.0.1
fastapi==0.109.2
ffmpeg-python==0.2.0
ffmpy==0.3.2
filelock==3.13.1
Flask==3.0.2
Flask-SocketIO==5.3.6
Flask-WTF==1.2.1
flatbuffers==23.5.26
fonttools==4.48.1
frozenlist==1.4.1
fsspec==2024.2.0
future==0.18.3
gast==0.5.4
gevent==23.9.1
gevent-websocket==0.10.1
google-api-core==2.17.0
google-api-python-client==2.116.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
googlesearch-python==1.2.3
gradio==4.19.2
gradio_client==0.10.1
greenlet==3.0.3
grpcio==1.62.0
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
h5py==3.10.0
httpcore==1.0.2
httplib2==0.22.0
httpx==0.26.0
huggingface-hub==0.20.3
idna==3.6
importlib_resources==6.1.2
ipykernel==6.29.2
ipython==8.21.0
itsdangerous==2.1.2
itunespy==1.6.0
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
keras==3.0.5
keyboard==0.13.5
kiwisolver==1.4.5
langchain==0.1.11
langchain-community==0.0.27
langchain-core==0.1.30
langchain-text-splitters==0.0.1
langcodes==3.3.0
langsmith==0.1.22
lazy_loader==0.3
libclang==16.0.6
librosa==0.10.1
llvmlite==0.42.0
lxml==5.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
micropip==0.6.0
ml-dtypes==0.3.2
mlxtend==0.23.1
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.5
murmurhash==1.0.10
musicbrainzngs==0.7.1
mutagen==1.47.0
mypy-extensions==1.0.0
namex==0.0.7
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
numba==0.59.0
numpy==1.26.4
oauthlib==3.2.2
openai==1.0.0
opencv-python==4.9.0.80
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.9.15
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.0
pandas-stubs==2.2.0.240218
parso==0.8.3
pefile==2023.2.7
pillow==10.2.0
pipenv==2023.12.1
pipreq==0.4
platformdirs==4.2.0
pluggy==1.4.0
pooch==1.8.1
preshed==3.0.9
prompt-toolkit==3.0.43
protobuf==4.25.2
psutil==5.9.8
pure-eval==0.2.2
pyarrow==15.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycountry==23.12.11
pycparser==2.21
pycryptodomex==3.20.0
pydantic==2.6.1
pydantic_core==2.16.2
pyDes==2.0.1
pydub==0.25.1
pygame==2.5.2
Pygments==2.17.2
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pyparsing==3.1.1
pyscript==0.2.5
PySocks==1.7.1
python-dateutil==2.8.2
python-engineio==4.9.0
python-multipart==0.0.9
python-socketio==5.11.1
python-vlc==3.0.20123
pytube==15.0.0
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
pyxdg==0.28
PyYAML==6.0.1
pyzmq==25.1.2
redis==5.0.1
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
rich==12.6.0
rich-click==1.7.3
rpds-py==0.18.0
rsa==4.9
ruff==0.2.2
s3transfer==0.10.0
safetensors==0.4.2
scikit-learn==1.4.0
scipy==1.12.0
seaborn==0.13.2
selenium==4.17.2
semantic-version==2.10.0
sentencepiece==0.2.0
setuptools==69.0.3
shellingham==1.5.4
simber==0.2.6
simple-websocket==1.0.0
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spotify==0.10.2
spotipy==2.23.0
SQLAlchemy==2.0.28
srsly==2.4.8
stack-data==0.6.3
starlette==0.36.3
sumy==0.11.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.0rc0
tensorflow-hub==0.16.1
tensorflow-intel==2.16.0rc0
termcolor==2.4.0
tf-keras==2.15.0
thinc==8.2.3
threadpoolctl==3.2.0
tokenizers==0.15.2
toml==0.10.2
tomlkit==0.12.0
toolz==0.12.1
torch==2.2.0
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
transformers==4.38.2
trio==0.24.0
trio-websocket==0.11.1
typer==0.9.0
types-pytz==2024.1.0.20240203
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.4
Unidecode==1.3.8
uritemplate==4.1.1
urllib3==2.0.7
uvicorn==0.27.1
virtualenv==20.25.0
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
websockets==11.0.3
Werkzeug==3.0.1
wheel==0.42.0
whichcraft==0.6.1
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.1.2
yarl==1.9.4
youtube-dl==2021.12.17
youtube-search-python==1.6.6
yt-dlp==2023.12.30
ytmdl==2023.11.26
ytmusicapi==1.5.2
zope.event==5.0
zope.interface==6.1
